
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body {
    background-color: rgba(8, 8, 8, 0.87);
}

.header{
    background-color: #5b1c6b73;
    color: white;
    
}

.card {
    color: white;
}

.card-body {
    text-align: center;
}

.card-img {
    max-width: auto;
    height: auto;
}

h1 {
    font-size: 70px;
    padding: 30px;
}
h2 {
    font-size: 50px;
}

p {
    font-size: 25px;
}
nav {
    font-size: 40px;
}

ul {
    align-items: center;
}